html{
    background-color: rgb(0, 0, 0);
    font:1.2em consolas;
    --webkit-border: radius 20px;
    --moz-border: radius 20px;
    --o-border: radius 20px;
    --ms-border: radius 20px;
    padding:5%;
 }
img{
    max-width: 100%;
}

nav{
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 12, 12, 0.84); 
    border-radius:9px;
    color: rgb(50, 248, 139);
    display:flex;
    flex-wrap:wrap;
    gap: 2em;
    width: 600px;
    height: 100px;

}

.divnavegacion{
    background-color: rgba(57, 134, 210, 0); 
    color: rgb(34, 232, 110);
    margin-left: 30%;
    padding: 5%;
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
    align-self: right;
   margin-inline-start: auto;
}





.article{
    padding: 5%;
    display: grid;
    grid-template-columns:50% 50%;
}
.foto{
    padding:1%;
    border-radius:40%;
}
.divpresentacion{
    padding:5%;
    background-color: rgba(2, 146, 21, 0.671);
    border-radius:30px;
}


.section{
    background-color: rgba(120, 134, 149, 0); 
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-flow:wrap;
    padding:8%;
}
.divdesarrolloweb{
    background-color: rgba(7, 255, 32, 0.244);
    border-radius:30px;
    padding:10px;
    width: 400px;
    height:50px;
    justify-content: center;
    align-items: center;
}
.divfrontend{
    background-color: rgba(43, 112, 173, 0.643);
    border-radius:30px;  
    padding: 10px; 
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.divbackend{
    background-color: rgba(214, 147, 66, 0.53);
    border-radius:10px;
    padding: 10px;
    width: 400px;
    height:240px;
    justify-content: center;
    align-items: center;
}
.divfullstack{
    background-color: rgba(43, 112, 173, 0.524);
    border-radius:10px; 
    padding: 10px;
    width: 400px;
    height:200px;
    justify-content: center;
    align-items: center;
}
.divpaginasweb{
    background-color: rgba(220, 135, 31, 0.446);
    border-radius:10px;
    padding: 10px;
    width: 400px;
    height:200px;
}




.cursodiseño{
padding:2%;
color: rgba(0, 0, 0, 0.996);
background-color: rgba(8, 136, 136, 0.337);
border-radius:30px;
}


.fotodiseño{
    border-radius:10%;
    padding:1%;
}

 footer{

    background-color: rgba(225, 129, 20, 0);
    justify-content: center;
    align-items: center;  
    padding:2%;
 }
.container{
    background-color: rgba(11, 235, 235, 0.528);
    border-radius:30px;
    justify-content: center;
    align-items: center;  
    padding:10%;
}
